{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block title  %}Kayıt Ol{% endblock %}

{% block body %}

<style>
    .row{
        margin-top: 75px;
    }
</style>


<div class="container-fluid">

        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-default" style="margin-left: 75px; width: 1160px; margin-top: -25px">
                    <div class="panel-body" style="padding: 40px 40px 75px 75px">
                        <form class="form-horizontal" role="form" style="margin-left: 35px" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {#% include 'polls/practice_form.html' %#}
                            {{ form.media }}
                            {% include 'polls/practice_form.html' %}
                            {#{ form.as_p }}  #}

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button style="width: 255px; margin-left: 200px; margin-top: 25px" type="submit" class="btn btn-success">Kaydet</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>






</div>

{% endblock %}

