{% extends 'polls/base.html' %}

{% block body %}

    {{ form.media }}
    <div class="col-sm-6 col-lg-8" style="padding: 50px 200px; margin-left: 15%">


    {% if request.user.username == practice_question.author|safe %}

        <div class="container-fluid">

            <form action="" method="post">{% csrf_token %}

            {{ practice_question.question_area_name }}

            <br>

            {% for formfield in form %}
                {{ formfield.label_tag }}
                {{ formfield }}
                <br>
            {% endfor %}

            <input type="submit" value="Save"/>
        </form>


        </div>

    {% endif %}

    {% if not request.user.username == practice_question.author|safe %}
        <h1>yetkin yok</h1>
    {% endif %}


    </div>

{% endblock %}