{% extends 'polls/base.html' %}
{% load static %}
{% block title  %}Kayıt Ol{% endblock %}

{% block body %}


<style>

    .row{
        background-image: url({% static 'media/giris.jpg' %});
        background-size: 100%;
        height: 475px;
        margin-top: -25px;
    }


    .panel-transparent{
        margin-top: 75px;
        height: 300px;
        background: none;
        border-color: #0f74a8;


    }

    .panel-transparent .panel-body {
	    background: rgba(46, 51, 56, 0)!important;
    }




    .form-horizontal{
        margin-top: 50px;


    }




</style>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-primary panel-transparent" style="margin-left: 50%">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {#% include 'polls/practice_form.html' %#}



                        {% for field in form %}
                            <div class="form-group text-center">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger small">{{ field.errors }}</span>
                                </div>

                                <label class="control-group text-center" >
                                    <!--input class="form-control" value=""-->
                                    {{ field }}
                                </label>

                            </div>
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}


                        <div class="form-group text-center">
                            <div class="col-sm-12 col-md-14 col-lg-14">
                                <button style="width: 230px" type="submit" class="btn btn-success">Giriş Yap</button>
                            </div>
                        </div>


                    </form>

                    <div class="form-group text-center">
                            <div class="col-sm-12 col-md-14 col-lg-14">
                                <form action="{% url 'polls:password_reset' %}">
                                    <button type="submit" class="btn btn-danger" style="width: 230px">Parolamı Unuttum</button>
                                </form>
                            </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}


















