{% extends 'polls/base.html' %}

{% block body %}



     <div class="container-fluid">
         <div class="text-center">

                 <p style="margin-top: 150px">

                     Parola yenileme isteğiniz alınmıştır. Yenileme işlemi için lütfen girdiğiniz
                     e-mail hesabını kontrol edin.
                 </p>
                 <p>
                     Herhangi bir e-posta almadıysanız lütfen bilgileri doğru girdiğinizden emin olun veya
                     hesabınızdaki spam klasörünü kontrol edin.
                 </p>

         </div>
     </div>

     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>







{% endblock %}