{% extends 'polls/base.html' %}

{% block body %}

    <style>
        .btn-success{

            width: 206px;
        }



    </style>

      {% if validlink %}



          <div class="container-fluid">
              <h3 style="text-align: center; margin-top: 50px">Parola Değiştir</h3>
              <div class="row">
                  <div class="col-sm-12 col-md-7">
                      <div class="panel panel-primary" style="margin-left: 50%">
                          <div class="panel-body">
                              <form method="post">
                                  {% csrf_token %}

                                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">



                                  {% for field in form %}
                                      <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-10">
                                              <span class="text-danger small">{{ field.errors }}</span>
                                          </div>

                                          <div class="col-sm-6" style="margin-left: 140px">
                                              <label class="control-group text-center" >
                                                    <!--input class="form-control" value=""-->
                                                    {{ field }}
                                              </label>

                                          </div>

                                      </div>
                                      <br>
                                      <br>
                                  {% endfor %}
                                  <div class="text-center">
                                      <button class="btn btn-success" style="width: 226px" type="submit">Parolayı Değiştir</button>

                                  </div>



                                  <!--table>
                                      <tr>
                                          <td>{#  #}{ form.new_password1.errors }}
                                              <label for="id_new_password1">Parola Yenile:</label></td>
                                          <td>{#  #}{ form.new_password1 }}</td>
                                      </tr>
                                      <tr>
                                          <td>{#  #}{ form.new_password2.errors }}
                                              <label for="id_new_password2">Parola Doğrula:</label></td>
                                          <td>{#  #}{ form.new_password2 }}</td>
                                      </tr>
                                  </table>-->
                              </form>

                          </div>

                      </div>
                  </div>


              </div>
          </div>

          <br>
          <br>

      {% else %}

          <div class="container-fluid">
              <div class="row">
                  <p style="margin-top: 150px">
                     We've emailed you instructions for setting your password, if an account exists with the email you entered.
                     You should receive them shortly.
                  </p>
                  <p>
                     If you don't receive an email, please make sure you've entered the address you registered with,
                     and check your spam folder.
                  </p>

              </div>

          </div>

          <p>
              Parola yenileme bağlantısı geçersiz, muhtemelen daha önce kullanılmış.
              Lütfen parola yenileme isteğini tekrarlayın.
          </p>
      {% endif %}

{% endblock %}