{% extends 'polls/base.html' %}
{% load static %}

{% block body %}



<style>

    .row{
        background-image: url({% static 'media/giris.jpg' %});
        background-size: 100%;
        height: 475px;
        margin-top: -25px;
    }


    .panel{
        margin-top: 80px;
        height: 300px;
        background: white;
        border-color: #0f74a8;


    }


    /*.panel .panel-body {
	    background: rgba(46, 51, 56, 0.2)!important;
    }*/




    .form-horizontal{
        margin-top: 50px;

    }




</style>



  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 col-md-7">

              <div class="panel panel-primary" style="margin-left: 50%">
                  <div class="panel-body">
                      <div class="form-group text-center">
                          <h3 style="font-weight: bold">Parola Yenileme</h3>

                      </div>

                      <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                          {% csrf_token %}

                          <div class="form-group text-center">
                              {{ form.as_p }}
                          </div>

                          <div class="form-group text-center">
                              <button class="btn btn-success" style="width: 205px; margin-left: 56px" type="submit" value="{% url "polls:password_reset" %}">Gönder</button>

                          </div>

                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>




{% endblock %}