{{ form.media }}
{% for field in form %}
    <div class="panel-default"
         style="margin-left: 230px; margin-top: 15px">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>

        <label class="control-group text-center" >

        </label>

        <div class="col-sm-8 col-lg-2">
            <p>
                {{ field.label_tag }}
            </p>
            <br>

        </div>

        <div class="col-sm-8 col-lg-6">
            <p>
                {{ field }}
            </p>
        </div>

    </div>
{% endfor %}

