{% extends 'polls/base.html' %}
{% block title  %}Yeni Bir Soru Ekle{% endblock %}

{% block body %}


    <style>

    .row{
        margin-left: 200px;
    }

    #inputKaydet{
        margin-left: 290px;
    }

    #tekrarEkle{
        width: 384px;
        margin-top: 25px;
        margin-left: 100px;
    }




</style>

    <div class="container-fluid" style="margin-left: 75px">


        <h3 style="font-weight: bold">{{ question.question_area_name }}</h3>

        <div class="col-sm-11 col-lg-16">
        <div class="form-group" style="margin-left: -100px;">
        {{ formset.management_form }}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <div class="row">
                        {% for formfield in formset %}
                            {{ formfield }}
                            {{ formfield.delete }}

                            <hr style="background-color: green">
                        {% endfor %}

                    </div>
                    <button id="inputKaydet" style="width: 384px; margin-top: 25px;" class="btn btn-success">Kaydet</button>
                    <a id="tekrarEkle" class="btn btn-info" href="{% url 'polls:input' question.question_slug %}">Güncelle</a>
                </form>

        </div>

        </div>



    </div>



<!--div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="panel panel-default">
                <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {#% csrf_token %#}
                        {#% include 'polls/practice_form.html' %#}

                    {#  #}{ inputs.management_form }}


                    {#% for input_form in inputs.forms %#}

                        {#% if forloop.first %#}
                            {#% for field in input_form.visible_fields %#}
                                {#  #}{ field.label | capfirst }}
                            {#% endfor %#}

                        {#% endif %#}

                    {#% endfor %#}


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Save"/>
                            <a href="{#% url 'polls:question' %#}">Kaydet</a>
                        </div>
                    </div>
                </form>



            </div>
        </div>

    </div>
</div>-->

{% endblock %}












