{% extends 'polls/base.html' %}
{% block title  %}Yeni Bir Soru Ekle{% endblock %}

{% block body %}


    <style>

        .container{
            margin-left: 150px;
            margin-top: 50px;
            padding-left: 15px;
            /*width: 1500px;*/
        }


    </style>


<div class="container-fluid">

    <div class="row">
        <div class="col-sm-10 col-md-12 col-lg-10">
            <div class="container">

                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% include 'polls/practice_form.html' %}

                        <div class="form-group" style="margin-right: 145px">
                            <div class="col-sm-offset-7 col-sm-10">
                                <button type="submit" class="btn btn-success"
                                        style="width: 150px; height: 40px;
                                        margin-left: 55px; margin-top: 50px">
                                    Ekle
                                </button>
                            </div>
                        </div>


                    </form>

                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}












